html, body, .wrapper {
    height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    min-width: 100%;
    background: red;
    min-height: 60px;
}

.main-page {
    min-width: 100%;
    background: green;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    flex: -1;
    background: blue;
}

.content-page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.nav-logo {
    flex: 1;
    background: white;
}